<!DOCTYPE >
<html>
  <head>
    <meta charset="UTF-8" />
    <title>サンプル</title>
  </head>
  <body>
      <h1>サンプル</h1>
      <p>Node.js + expressで作るサンプルwebアプリケーション</p>
      <div>次は<a href="/?next=chpter12&amp;user=123">こちら</a>へ</div>
    </div>
  </body>
</html>
